# Gradle files
.gradle/
build/

# IntelliJ IDEA files
.idea/
out/
test/
/src/

# Eclipse files
.classpath
.project
.settings/

# Mac-specific files
.DS_Store

# Operating System temporary files
*.swp

# Gradle wrapper
gradle-wrapper.jar
gradle-wrapper.properties
gradlew.bat
gradlew

# Local configuration file (gradle.properties) - Remove if you don't use it
gradle.properties
